<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>李志 BB 音乐作品播放器</title>
  <meta name="keywords" content="李志，逼哥，南京市民李先生，音乐作品集，专辑，播放器"/>
  <meta name="description" content="全网最好用的李志(逼哥)音乐作品专属播放器">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="<%= context.config.publicPath %>tailwind.css" />
</head>
<body>
  <div id="root"></div>
</body>
</html>